{% extends 'base.html.twig' %}

{% set size = '/portrait_incredible.' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            {% for result in results %}
                <h6>{{ result.name }}</h6>
                <img src="{{ result.thumbnail.path }}{{ size }}{{ result.thumbnail.extension }}">
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
